@font-face {
  font-family: schoolFont;
  src: url(../fonts/Elementarz2.ttf);
}

#myBoard {
  border: 0px solid #000000;
}

#initText {
  position: absolute;
  left: 10px;
  top: 10px;
  visibility: hidden;
}
